:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color:#2196F3;
}




body {
    background-color: #F5F5F5;
    color: #212121;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* Header */
 /* <!-- Logo -- > */

.logo {
    color: #000000;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    text-decoration: none;
    letter-spacing: 0.03em;
    
}

.logo-web {
    color: #2196F3;
}

.logo-studio-header {
    color: #000000;
 }

 ul {
        list-style-type: none;
    }

 .site-nav .link {
    color: #2196F3;
    text-decoration: none;
 }
 .site-nav .link:hover,
 .site-nav .link:focus {
    color: #000000;
 }

 .site-nav .item {
    color: #212121;
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    text-decoration: none;
}
.auth-nav .contact {
    color: #2196F3;
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
    color: #000000;
}
 
.auth-nav .contact-icon {
    color: #757575;
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;  
}

.auth-nav .contact-icon:hover,
.auth-nav .contact-icon:focus {
     color: #000000;
}
/* main */
/* hero section */

.hero-title {
    color: #FFFFFF;
    background: #2F303A;
    font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
.button {
    color: #FFFFFF;
    background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            cursor: pointer;
}

/* section about us */

.section-title {
    color: #212121;
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.section-text {
    color: #757575;
    font-family: 'Roboto';
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em; 
}

/* what we do */

.title-section {
    color: #212121;
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    }

    /* our team */
    .section-team {
        background: #f5f4fa
    }

    .text-section {
        color: #212121;
        font-family: 'Roboto';
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: none;
            letter-spacing: 0.03em;
        }
    .name {
        color: #757575;
        font-family: 'Roboto';
            font-size: 16px;
            line-height: 19px;
            text-align: none;
            letter-spacing: 0.03em;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
    }

    /* footer */
        