.body {
    background-color: #F5F5F5;
    color: #212121;
}

ul {
    list-style: none;
}

.header {
    font-family: 'Roboto';
    font-weight: 500;
    

}
.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    text-decoration: none;
}

.logo-web {
    color: #2196F3;
}

.logo-studio-header {
    color: #212121;
 }

.header-list {

}

.contacts-header {

}

.hero {

}

.about {

}

.field {

}

.team {

}

.footer {

}